<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>DashBoard</title>
</head>
<body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <!-- Brand/logo -->
                <a class="navbar-brand" href="#">Logo</a>
                
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Chat</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/friends/AddFriends">Add Friends</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/friends/friendRequests">Requests</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                      </li>
                </ul>
              </nav>

              <div class="container">
                    <div id="my-requests">

                    </div>
              </div>
</body>
<script>

    fetchrequest()
    function fetchrequest()
    {
        var ob = new Object();
        ob.id = "<%= obj._id %>"
        var request = new XMLHttpRequest();
        var filename = '/getRequests'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {

            console.log(request.responseText);
            var arrOfObject = JSON.parse(request.responseText)
            var requestArr = arrOfObject.requestin
            for(var i=0;i< requestArr.length;i++)
            {
                // console.log( requestArr[i])
                addRequestdom(requestArr[i])
            }
        
        }
    }
    function addRequestdom(ob)
    {
        var html=''
        html+='<div id="requestDiv'+ob._id+'"><a>'+ob.username+ '</a><button onclick=acceptRequest("'+ob._id+'")>Accept Request</button></div>'
        $('#my-requests').append(html)
    }

    function acceptRequest(id)
    {
        $('#requestDiv'+id).hide();
        var ob = new Object();
        ob.id = id;
        var request = new XMLHttpRequest();
        var filename = '/acceptRequest'
        request.open('POST',filename)
        request.setRequestHeader("content-Type","application/JSON")
        request.send(JSON.stringify(ob));
        request.onload = function()
        {
            console.log(request.responseText)
        }
    }
</script>
</html>