<!DOCTYPE html>
<html>
<head>
  <title>Transparent Login Form with Bootstrap 4</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <style>
        body{
        background: url(mountain.jpg) no-repeat center center fixed;
        background-size: cover;
    }

        .main-section{
            margin : 0 auto;
            margin-top: 130px;
            padding : 0;
        }
        .modal-content{
            background-color: #3b4652;
            opacity: .95;
            padding: 0 18px;
            box-shadow: 0px 0px 3px #848484;
        }
        .user-img{
            margin-top : -50px;
            margin-bottom :35px;
        }
        .user-img img{
            height : 100px;
            width : 100px;
            border-radius : 5px;
            box-shadow: 0px 0px 2px #848484;
        }
        .form-group
        {
            margin-bottom:25px;
        }
        .form-group input{
            height : 42px;
            border-radius : 5px;
            border :0;
            font-size : 18px;
            padding-left:54px ;
        }
        .form-group::before {

            font-family : 'Font Awesome\ 5 Free';
            content : "\f007";
            position : absolute;
            font-size : 22px;
            color:#555e60;
            left : 28px;
            padding-top:4px;
        }

        .form-group:last-of-type::before{
            content: "\f023";
        }
        button{
            width : 40%;
            margin : 5px 0  25px;
        }
        .btn{
            background-color: #27c2a5;
            color:white;
            font-size : 19px;
            padding : 7px 14px;
            border-radius : 4px solid #219882;
        }
        .btn:hover, .btn:focus{
            background-color: #25a890 !important;
            border-bottom : 4px solid #25a890 !important;
        }
        .svg-inline--fa{
            font-size : 20px;
            margin-right: 7px;
        }
        .forgot
        {
            padding: 5px 0 25px;
        }
        .forgot a {
            color: #c2fbfe;
        }
  </style>
</head>
<body>

<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="face.png">
            </div>
            <form class="col-12" id="login-form">
                <div class="form-group">
                    <input id="username" type="text" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group">
                        <input id="password" type="password" class="form-control" placeholder="Enter Password">
                </div>                
                <button type="submit" class="btn"><i class="fas fa-sign-in-alt"></i>Login</button>
            </form>

            <div class="col-12 forgot">
                <a href="#">Sign Up</a>
            </div>
        </div><!-- end of modal contenet-->

    </div>

</div>


<script src = "http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    jQuery(function($){
        // var socket = io.connect();
        var $loginForm = $('#login-form')
        var $uname= $('#username')
        var $upassword = $('#password')
        
        $loginForm.submit(function(e){
            e.preventDefault();

            var ob = new Object()
            ob.username = $uname.val();
            ob.password = $upassword.val();
            console.log(ob);

            var request = new XMLHttpRequest();
            var filename = '/login';
            request.open('POST',filename)
            request.setRequestHeader("content-Type","application/JSON")
            request.send(JSON.stringify(ob));
            request.onload = function()
            {
            
                console.log(request.responseText);
                var responseObject = JSON.parse(request.responseText)
                
                    window.location = "/dashboard"
            }
        })
    })
</script>

</body>
</html>
